<h1>管理者ログイン</h1>

<%= form_for(:session,url: admin_login_path) do |f| %>
  <p><strong>email:</strong><%= f.email_field :mail %></p>
  <p><strong>password:</strong><%= f.password_field :password %></p>

  <p><%= f.submit 'ログイン' %></p>
<% end %>

