<h1>User一覧ページ</h1>

<table>

	<tr>
		<th>アイコン</th>
		<th>氏名</th>
		<th></th>
	</tr>
<% @users.each do |user| %>
	<tr>
		<td><%= attachment_image_tag user, :image, :fill, 50, 50, format: 'jpeg',fallback: "no_image.jpg" %></td>
		<td><%= user.name %></td>
		<td><%= link_to '詳細',user_path(user) %></td>
		<td><%= link_to '削除',user_path(user), method: :delete,"data-confirm" => "本当に削除しますか？" %></td>
	</tr>
<% end %>
</table>