<h1>商品一覧ページ</h1>
<%= link_to '新規商品登録', new_admin_product_path %>
<%= link_to '新規アーティスト登録', new_admin_artist_path %>
<%= link_to '新規レーベル登録', new_admin_label_path %>
<%= link_to '新規ジャンル登録', new_admin_genre_path %>
